.pick-btn {
  border-radius: 4px;
  padding: 5px;
  background-color: var(--pink);
  color: #eee1e1;
  width: fit-content;
}
.preview{
    transform: translateY(5vw);
    width: 80%;
    height: 70vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.image-upload__preview{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--pink);
    width: 100%;
    height: 90%;
}
.image-upload__preview p{
    color: rgb(162, 163, 163);
    font-size: larger;
}
.image-upload__preview img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.submit-newstatus{
    display: flex;
    width: 80%;
    justify-content: center;
}
.pick-btn{
    margin-left: 5px;
    cursor: pointer;
}
.status-ring{
    border: 3px solid var(--pink);
}

.status-view-page{
    width: 100vw;
    height: 100vh;
    background-color: var(--background);
    color: rgb(162, 163, 163);
    overflow: hidden;
    position: fixed;
}
.title-status-view{
    
}
.close-btn{
    padding: 6px 12px;
    border-radius: 4px;
    border: 1px solid var(--pink);
    color:  #eee1e1;
    font-size: small;
    cursor: pointer;
}
.view-bottom{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.view-delete{
    padding: 6px 12px;
    margin: 0 10px;
    border-radius: 4px;
    border: 1px solid var(--pink);
    color:  #eee1e1;
    font-size: small;
    cursor: pointer;
}
.close-btn:hover, .view-delete:hover{
    background-color: var(--pink);
}
.status-swipe{
    position: relative;
    max-width: 500px;
    height: 75%;
    margin: auto;
   transform: translateY(14vh);
   overflow-x: hidden;
}

.status-container{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   transform: translateX(100%);
   transition: 0.4s transform ease;
}
.status-container img{
   width: 100%;
   object-fit: cover;
}
.view-time{
    font-style: italic;
}
@media only screen and ( max-width: 700px){
    .status-swipe{
        width: 100%;
        transform: translateY(17vh);
    }
   }