.create-group{
    align-self: center;
    display: flex;
    align-items: center;
    color: rgb(94, 93, 93);
    cursor: pointer;
    margin-top: 10px;
    padding: 0 5px;
    border: 1px solid var(--pink);
    border-radius: 5px;
}
.create-group:hover{
    color: var(--pink);
    background-color: var(--background);
}
.create-group img{
    width: 30px;
    margin-left: 5px;
}
.create-group span{
    font-weight: bold;
}

.nav-group{
    padding: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: var(--background);
    color: rgb(162, 163, 163);
}
.nav-group section{
    padding-left: 25px;
    display: flex;
    flex-direction: column;
}
.nav-group section h4{
    font-size: larger;
}
.group-add{
    border: none;
    width: 30px;
    position: absolute;
    right: 5vw;
}

.add-btn{
    transition: all 0.3s ease;
    border-radius: 4px;
    padding: 5px;
    background-color: var(--pink);
    color:  #eee1e1;
    position: absolute;
    right: 5vw;
}

.done-body{
    color: rgb(162, 163, 163);
    height: fit-content;
    transform: translate(2vw,10vh);
}
.input-done{
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
}
.input-done span{
    font-weight: bold;
}
.participants{
   transform: translateX(6px);
}
.participants h5{
   margin-bottom: 10px;
   font-size: large;
   
}
.participants section{
    display: flex;
    overflow-x: scroll;
}
.participants section::-webkit-scrollbar{
    opacity: 0;
}
.sec-participants{
    display: flex;
}
.sec-participants div{
    display: flex;
    flex-direction: column;
    padding-right: 10px;
}
.sec-participants img{
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.create-input{
    width:180px;
    padding: 6px 10px;
    font-size: larger;
    border: none;
    border-bottom: 1px solid var(--background);
    outline: none;
    color: rgb(162, 163, 163);
}
.create-input::placeholder{
    color: rgb(162, 163, 163);
    font-weight: bold;
    font-size: medium;
}
.group-img-list{
    display: flex;
    align-items: center;
    justify-content: center;
}
.group-chat-names{
    width: 65vw;
    height: 20px;
    overflow: hidden;
}
.group-chat-names span{
    font-style: italic;
   margin-left: 5px;
   color:  #eee1e1;
}
.private-name{
    padding-left: 5px;
    font-size: large;
}