.create-group{
    align-self: center;
    display: flex;
    align-items: center;
    color: rgb(94, 93, 93);
    cursor: pointer;
    margin-top: 10px;
    padding: 0 5px;
    border: 1px solid var(--pink);
    border-radius: 5px;
}
.create-group:hover{
    color: var(--pink);
    background-color: var(--background);
}
.create-group img{
    width: 30px;
    margin-left: 5px;
}
.create-group span{
    font-weight: bold;
}

.nav-group{
    padding: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: var(--background);
    color: rgb(162, 163, 163);
}
.nav-group section{
    padding-left: 25px;
    display: flex;
    flex-direction: column;
}
.nav-group section h4{
    font-size: larger;
}
.group-add{
    border: none;
    width: 30px;
    position: absolute;
    right: 5vw;
}
