*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --pink:  #f05454;
    --lightpink: #f05454 ;
    --background :#e8e8e8;
}
.auth-container{
    width: 100vw;
    height: 100vh;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.auth-top{
    height: 50vh;
}
.auth-bottom{
    width: 100vw;
    height: 50vh;
    background-color: #30475e;
    display: flex;
    align-items: center;
    justify-content: center;
}
.auth-text{
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 1px solid var(--pink);
    border-radius: 20px;
    color:var(--lightpink);
    padding: 10px;
    z-index: 2;
    background-color: var(--pink);
    color: #f3f2f2;
}
.auth-text:hover{
    background-color: var(--pink);
    color: #f3f2f2;
}
.auth-text img{
    width: 20px;
}
.auth-text h5{
    margin-left: 10px;
}