*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
:root{
    --pink:  #f05454;
    --lightpink: #f05454 ;
    --background :#222831;
}
.auth-container{
    width: 100vw;
    height: 100vh;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    color: #eee1e1;
}
.auth-top{
    width: 100vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--background);
    font-style: italic;
}
#title-auth{
    font-style: normal;
    font-weight: bold;
    font-size: larger;
    color: var(--pink);
}
.conversation{
    width: 200px;
}
.auth-bottom{
    width: 100vw;
    height: 50vh;
    background-color: #30475e;
    background-color: var(--background);
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.auth-text{
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 20px;
    color:var(--lightpink);
    padding: 10px;
    z-index: 2;
    background-color: var(--pink);
    color: #eee1e1;
}
.auth-text:hover{
    background-color:#ce3d3d ;
}
.auth-text img{
    width: 20px;
}
.auth-text h5{
    margin-left: 10px;
}
@media only screen and (min-width:600px){
    .auth-container{
        flex-direction: row;
    }
}