.users-list{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.users-top{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background);
    padding: 15px;
    padding-bottom: 0;
   
}
.users-title{
    width: 32%;
    display: flex;
    justify-content: center;
}
.users-title img{
    width: 25px;
}
.users-title span{
    font-weight: bold;
    font-size: larger;
    color: rgb(162, 163, 163);
}
nav{
    display: flex;
    width: 100vw;
    justify-content: space-around;
}
nav a{
    text-decoration: none;
    color: #747171;
    padding:15px;
  
}
nav a:first-child{
    border-bottom: 4px solid var(--pink);
}
.users-body{
    /* background-color: rgb(63, 61, 61); */
    display: flex;
    flex-direction: column;
}
.media-list{
    color: rgb(152, 153, 158);
    text-decoration: none;
    padding-top: 15px;
    display: flex;
    align-items: center;
}
.media-list img{
    object-fit: cover;
    width: 60px;
    height: 60px;
    margin: 0 10px;
    border-radius: 50%;
    border: 1px solid var(--background);
    transition: border 0.3s ease;
}
.media-list:hover img{
    border-color: var(--pink);
    border-width: 2.5px;
}
.media-list:hover {
    color: rgb(72, 76, 97);
}
